extends inc/template.pug

block content
    h1.h2 Contact View

    .table-responsive
        table.table.table-striped.table-sm
            tbody
                tr
                    td Name
                    td=contact.name
                tr
                    td Type of Contact
                    td=contact.type
                tr
                    td Phone number
                    td=contact.phone
                tr
                    td Alternate Phone Number
                    if contact.phone === contact.alternatePhone
                        td &nbsp;
                    else
                        td=contact.alternatePhone
                tr
                    td Email
                    td=contact.email
                tr
                    td Address
                    td=contact.address
                tr
                    td Message
                    td=contact.message
                tr
                    td Time
                    td=contact.timestamp

    h2.h3 Original Message (unparsed)
    pre
        code=contact.original
